= simple_form_for @post do |f|
	= f.input :image, required: :true
	= f.input :title, required: :true
	= f.input :link, required: :true
	= f.input :minimum_order, label: 'Minimum number you want to order', required: :true
	= f.input :minimum_price, label: 'Price per unit of the minimum order rounded up', required: :true
	= f.input :expiration, as: :date, required: :true
	= f.input :description, required: :true

	= f.button :submit