- if user_signed_in?
	%p#intro
		Hello
		= current_user.name
		%br/
		%span
			Is there something you're interested in today?
			%br/
		%span
			Click 'About' to understand the rules and how this works!
- else
	%p#intro
		List your apparel ideas, event ideas, and more!
		%br/
		%span
			See who wants to get involved so we can book big apparel orders and cool events with more transparency!
#posts
	- @posts.each do |post|
		.post
			.post_image
				= link_to (image_tag post.image.url(:small)), post
			.post_content
				.title
					%h2= link_to post.title, post
				.title
					%h2
						$
						= post.minimum_price
						per person
					%h2
						Minimum
						= pluralize(post.minimum_order, "order")
						required
				.data.clearfix
					%p.username
						Shared by
						= post.user.name
					%p.buttons
						%span
							%i.fa.fa-comments-o
							= post.comments.count
						%span
							%i.fa.fa-thumbs-o-up
							= post.get_likes.size

.clearfix
- if user_signed_in?
	%p#intro
		%span
			Made on no sleep by the <a href="http://uday.io">Apparel Chair</a>.